main{
    flex: 1 0 auto !important;
}

.nav-wrapper{
    background: #5d4037 !important;
}

.borderTable{
    border-bottom: 1px solid #d0d0d0 !important;
}

.no-padding-bot{
    padding-bottom: 0px !important;
}

.no-padding-lef{
    padding-left: 0px !important;
}

.no-padding-rig{
    padding-right: 0px !important;
}

.no-padding-top{
    padding-top: 0px !important;
}

.no-margin{
    margin: 0 !important;
}

.no-border{
    border: 0 !important;
}

.no-shadow{
    webkit-box-shadow: 0 !important;
    box-shadow : none !important;
}
.padding-min{
    padding: 10px !important;
}

.padding-min-top{
    padding-top: 10px !important;
}

.padding-min-bot{
    padding-bottom: 10px !important;
}

.padding-min-lef{
    padding-left: 10px !important;
}
.padding-min-rig{
    padding-right: 10px !important;
}

.padding-min-hori{
    padding:10px 0 10px 0 !important;
}

.padding-min-lat{
    padding:0 10px 0 10px !important;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disativado {
    pointer-events: none !important;
    cursor: default !important;
    color: #616161 !important;
}